<form id="monForm" onsubmit="validateForm(this)" #f="ngForm">
  <fieldset class="mb-3">
    <legend class="text-uppercase font-size-sm font-weight-bold">Send invitation</legend>

    <div class="form-group row">
      <label class="col-form-label col-lg-2">Nombre de jours</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" name="nb"  [(ngModel)]="planning.nb_jours" required #d="ngModel">
        <div class="alert alert-info" *ngIf="d.invalid && d.touched">
          <div *ngIf="d.hasError('required')"> Nombre de jours is a required field</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-lg-2">Id du vol</label>
      <div class="col-lg-10">
        <input type="text" name="invitation.message" class="form-control" placeholder="Enter id..." [(ngModel)]="planning.idVol" required #i="ngModel">
        <div class="alert alert-info" *ngIf="i.invalid && i.touched">
          <div *ngIf="i.hasError('required')"> idVol is a required field</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-lg-2">Email</label>
      <div class="col-lg-10">
        <input id="invitation" type="text" name="fichier" class="form-control" placeholder="Enter your file..." [(ngModel)]="planning.fichierPlanning" >
      </div>
    </div>
  </fieldset>

  <input routerLink="/plannings" class="btn btn-success" type="submit" name="submit_reg" value="Submit" [disabled]="f.invalid" (click)="onSubmit()">

</form>


