<body>
<!-- Main navbar -->
<div class="navbar navbar-expand-lg navbar-dark navbar-static">
  <div class="navbar-brand ml-2 ml-lg-0">
    <a href="index.html" class="d-inline-block">
      <img src="../../../../global_assets/images/logo_light.png" alt="">
    </a>
  </div>

  <div class="d-flex justify-content-end align-items-center ml-auto">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a href="#" class="navbar-nav-link">
          <i class="icon-lifebuoy"></i>
          <span class="d-none d-lg-inline-block ml-2">Support</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="navbar-nav-link">
          <i class="icon-user-plus"></i>
          <span class="d-none d-lg-inline-block ml-2">Register</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="navbar-nav-link">
          <i class="icon-user-lock"></i>
          <span class="d-none d-lg-inline-block ml-2">Login</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->


<!-- Page content -->
<div class="page-content">

  <!-- Main content -->
  <div class="content-wrapper">

    <!-- Inner content -->
    <div class="content-inner">

      <!-- Content area -->
      <div class="content d-flex justify-content-center align-items-center">

        <!-- Login form -->
        <form loginForm="ngForm" >
          <small class="text-danger">{{msg}}</small>
          <div class="card mb-0" style="width: 600px" >
            <div class="card-body">
              <div class="text-center mb-3">
                <i class="icon-reading icon-2x text-secondary border-secondary border-3 rounded-pill p-3 mb-3 mt-1"></i>
                <h5 class="mb-0">Login to your account</h5>
                <span class="d-block text-muted">Enter your credentials below </span>
              </div>

              <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="email" class="form-control" placeholder="please enter your email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                       #email="ngModel"
                       [class.is-invalid]="email.invalid  && email.touched ">
                <small class ="text-danger" [class.d-none]="email.valid || email.untouched " > Email is required field </small>

                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
              </div>

              <div class="form-group form-group-feedback form-group-feedback-left">
                <input type="password" class="form-control" placeholder="please enter your password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required #password="ngModel"
                       [class.is-invalid]="password.invalid  && password.touched ">
                <small class ="text-danger" [class.d-none]="password.valid || password.untouched " > Password is required field </small>
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>

              <div class="form-group" >

                <button type="submit" (click)="checkLogin()" class="btn btn-primary btn-block"  style="background-color: #f58646 ;  border: none" >Sign in </button>
              </div>
              <button class ="float-right" [routerLink]="['/Sign-Up']">New user ? Please register here ! </button>
              <!-- button class ="float-right" (click)="gotoregistration()">New user ? Please register here ! </button> -->
            </div>
          </div>
        </form>
        <!-- /login form -->

      </div>
      <!-- /content area -->


      <!-- Footer -->


      <!-- /footer -->

    </div>
    <!-- /inner content -->

  </div>
  <!-- /main content -->

</div>

<!-- /page content -->

</body>

