<ul>

  <li class="active">

    <a [routerLink]="['sendInvitation']">
      <button class="btn btn-success">Send Invitation</button>
    </a>
  </li>
  <router-outlet></router-outlet>

  <!-- Basic table -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Invitations list</h5>
    </div>

    <li></li>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Message</th>
          <th>Token</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody *ngFor="let u of listInvitations">
        <tr>
          <td>{{ u.idInvitation }}</td>
          <td>{{ u.date_expiration }}</td>
          <td>{{ u.message }}</td>
          <td>{{ u.token }}</td>
          <td>{{ u.email }}</td>
          <td><button class="btn btn-primary">Edit</button></td>
          <td><button class="btn btn-outline-danger">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /basic table -->
</ul>


