  <!-- Basic table -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Invitations list</h5>
    </div>
    <div class="chercher-produit">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
             autocomplete="off" placeholder="&#61442;  Taper pour chercher..">
    </div>
    <div class="card m-5 p-2">
    <div class="card-body">
      <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Message</th>
          <th>Token</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody *ngFor="let u of listInvitations">
        <tr>
          <td>{{ u.idInvitation }}</td>
          <td>{{ u.date_expiration }}</td>
          <td>{{ u.message }}</td>
          <td>{{ u.token }}</td>
          <td>{{ u.email }}</td>
          <td><button (click)="updateInvitation(u.idInvitation)" class="btn btn-primary">Edit</button></td>
          <td><button class="btn btn-outline-danger" (click)="deleteInvitation(u.idInvitation)">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

  <!-- /basic table -->


