<form>
  <fieldset class="mb-3">
    <legend class="text-uppercase font-size-sm font-weight-bold">Send invitation</legend>

    <div class="form-group row">
      <label class="col-form-label col-lg-2">Date expiration</label>
      <div class="col-lg-10">
        <input class="form-control" type="date" name="date" [(ngModel)]="invitation.date_expiration">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-lg-2">message</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Enter your message..." [(ngModel)]="invitation.message">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-lg-2">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" placeholder="Enter your email..." [(ngModel)]="invitation.email">
      </div>
    </div>
    </fieldset>
  <button (click)="sendInvitation()" type="button"
          class="btn btn-primary m-t-15 waves-effect">Submit</button>

</form>
